.welcomeContainer {
    background-color: #FAFAFA;
}

.bioContainer {
    background-color: #E7F9FC;
}

.copyContent {
    margin: 0 auto;
    max-width: 960px;
    padding: 2rem 4rem;
}

@media screen and (max-width: 600px) {
    .copyContent {
        padding: 1rem;
    }
}

.gridContainer {
    display: grid;
    padding: 3rem;
    justify-content: space-evenly;
    grid-template-columns: 24rem 24rem;
}

.contentContainer {
    text-align: center;
}

.gridContainer > div {
    background-color: cadetblue;
    padding: 2rem;
    margin: 1rem;
}

@media only screen and (max-width: 480px) {
    .gridContainer {
      grid-template-columns: 20rem;
    }
  }
