.welcomeContainer {
    background-color: #FAFAFA;
}

.primary {
    background-color: #897298;
}

.secondary {
    background-color: #B9D2C4;
}

.copyContent {
    margin: 0 auto;
    max-width: 960px;
    padding: 2rem 4rem;
}

@media screen and (max-width: 600px) {
    .copyContent {
        padding: 1rem;
    }
}
