.contentBlockContainer {
	display: flex;
	justify-content: space-between;
	padding: 2rem 0 2rem;
	flex-wrap: wrap;
}

.contentBlockText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 50%;

	p {
		padding: 20px 0 20px;
	}
}

.contentBlockImage {
	max-width: 80%;
}

@media screen and (max-width: 600px) {

	.contentBlockImage {
		order: 1;
		
	}

	.contentBlockText {
		order: 2;
		max-width: none;
		margin-top: 2rem;
	}

}

@media screen and (min-width: 601px) and (max-width: 820px) {

	.contentBlockImage {
		order: 1;
		
	}

	.contentBlockText {
		order: 2;
		max-width: none;
		margin-top: 2rem;
	}

	.contentBlockContainer {
		justify-content: center;
	}
	
}