.blog {
    display: flex;
    align-items: center;
    margin: 4px auto 12px auto;

    padding: 0 20px;
    border-bottom: 1px solid #1a1a1a;
}

.cover {
    flex: 0 0 96px;
    width: 96px;
    height: 96px;
    margin: 0;
}

.description {
    flex: 1;
    padding: 1rem;
}

.title {
    color: #1a1a1a;
    text-decoration: underline;
    transition: all 0.2s ease;
}

.title:hover {
    color: #0f7f8c;
}
