.homeBanner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1100px;
    padding: 4rem;
}

.bannerDetails {
    max-width: 476px;
}

@media screen and (max-width: 600px) {
    .homeBanner {
        padding: 1rem;
        margin: .5rem auto;
    }
}

.title {
    margin-bottom: 1.45rem;

    text-decoration: none;
    font-family: "Krona One";
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 2.25rem;
    line-height: 1.1;
}

.tagline {
    line-height: 1.1;
}
