.homeBanner {
    display: flex;
	flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    padding: 4rem;
}

.sectionii {
	background-color: black;
}

.subtext {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 3.3vmax 0 3.3vmax 0;
}

.subtextDescription {
    width: 50rem;
    margin-left: 2rem;
}

.subtextTitle {
    width: 20rem;
}

.title {
    margin: 0 0 1.45rem 1.45rem;
    color: white;
    text-shadow: -1px -1px 1px rgba(255,255,255,.1), 1px 1px 1px rgba(0,0,0,.5);
    font-weight: bold;
    text-rendering: optimizeLegibility;
    font-size: 2.25rem;
    line-height: 1.1;
}

.tagline {
    line-height: 1.1;
}

@media screen and (max-width: 600px) {
    .homeBanner {
        padding: 1rem;
        margin: .5rem auto;
        justify-content: space-around;
    }
    .subtext {
        flex-direction: column;
    }
    .subtextDescription {
        width: 20rem;
        margin-left: 0;
    }
}
