.commonButton {
  display: inline-block;
  font-weight: 500;
  padding: 0 20px;
  border: 1px solid #1a1a1a;
  height: 38px;
  line-height: 36px;
  font-size: 14px;

  color: #1a1a1a;
  text-decoration: none;
  transition: all 0.2s ease;
  margin-bottom: 2rem;
}

.commonButton:hover {
  color: #fff;
  background-color: #897298;
  border: 1px solid #897298;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
