@function set-text-color($color) {
  @if (lightness($color) > 70) {
    @return #1a1a1a;
  } @else {
    @return #fff;
  }
}

@mixin set-background($color) {
  background-color: $color;
  color: set-text-color(($color));
  border-color: set-text-color(($color))
}

.commonButton {
  
  display: inline-block;
  font-weight: bold;
  line-height: 36px;
  font-size: 14px;
  text-align: center;
  
  padding: 0 20px;
  border: 1px solid;
  
  min-height: 38px;
  max-height: fit-content;

  text-decoration: none;
  transition: all 0.2s ease;
  margin-bottom: 2rem;
  @include set-background(#4c3e4a);
}

.commonButton:hover {
  color: #fff;
  background-color: #897298;
  border: 1px solid #897298;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
