.signupContainer {
    background-color: #FAFAFA;
    text-align: center;
}

.emailContainer {
    max-width: 760px;
    margin: auto;
}

.emailInputContainer {
    display: flex;
    justify-content: center;
    height: 40px;
}

.emailInputElement {
    border-radius: 4px 0px 0px 4px;
    border: none;
    padding: 0 1rem;
}

.sendButton {
    padding: 0 .5rem;
    background-color: #C8F4F9;
    cursor: pointer;
    border-radius: 0px 4px 4px 0px;
    border: none;
    color: #1A1A1A;
    font-weight: 600;
    font-size: 1rem;
}

.disclaimerText {
    display: flex;
    justify-content: center;
    font-size: small;
    margin: .5rem 0 0 0;
}

@media screen and (max-width: 600px) {

    .emailContainer {
        margin: .5rem .25rem;
    }
    
    .emailInputContainer {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .sendButton {
        width: 100%;
        padding: .25rem 0;
        margin-left: 0;
        margin-top: .5rem;
        border-radius: 4px;
        height: 2.5rem;
    }

    .emailInputElement {
        width: 100%;
        height: 2.5rem;
    }
}